{:passed        true
 :commit-msg    "Add bench test files and intermediate bench results"
 :node-version  "v22.22.0"
 :optimizations "none"
 :benchmark     "cross-worker-cascade"
 :result        3
 :label         "3-worker cascade"
 :commit        "f307f96"
 :elapsed-ms    326.4662069999995
 :branch        "claude/sharedarraybuffer-structures-Uwgnw"
 :timestamp     "2026-02-14T02:11:27.592Z"}