.calva
.clj-kondo/*
!.clj-kondo/config.edn
!.clj-kondo/net.clojars.john
.cpcache
/out
.nrep-port
target
shadow_dashboard/node_modules
shadow_dashboard/resources/public
!shadow_dashboard/resources/public/index.html
shadow_dashboard/.shadow-cljs
.lsp/
.portal
.vscode
