.calva
.clj-kondo/*
!.clj-kondo/config.edn
!.clj-kondo/net.clojars.john
.cpcache
/out
.nrep-port
target
!target/integration-test/index.html
shadow_dashboard/node_modules
shadow_dashboard/resources/public
!shadow_dashboard/resources/public/index.html
shadow_dashboard/.shadow-cljs
node_modules
.shadow-cljs
test-results
.lsp/
.portal
.vscode
