{:paths ["src" "ex" "ex/reagami_counter/src" "ex/raytracer/src"]
 :deps {org.clojure/clojure       {:mvn/version "1.12.0"}
        net.clojars.john/injest   {:mvn/version "0.1.0-beta.8"}
        eve/eve                   {:git/url "https://github.com/SeniorCareMarket/eve"
                                   :git/sha "0e084fffeb0d9f2a8754c812be60bc22d2991a75"}}
 :aliases
 {:node-test
  {:extra-paths ["test" "target/generated-test"]
   :extra-deps {thheller/shadow-cljs {:mvn/version "3.3.6"}
                io.github.borkdude/reagami {:git/tag "v0.0.36"
                                            :git/sha "562cf3d"}}}
  :thread-test
  {:extra-paths ["test" "target/generated-test"]
   :extra-deps {thheller/shadow-cljs {:mvn/version "3.3.6"}}
   :main-opts ["-m" "cljs-thread.test-runner"]}
  :test
  {:extra-paths ["test"]
   :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.0" :git/sha "48c3c67"}}}
  :jvm-test
  {:extra-paths ["test"]
   :jvm-opts ["--add-opens" "java.base/java.lang=ALL-UNNAMED"
              "--enable-native-access=ALL-UNNAMED"
              "-Dio.netty.tryReflectionSetAccessible=true"]
   :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.0" :git/sha "48c3c67"}}
   :main-opts ["-m" "cognitect.test-runner" "-d" "test"]}
  :build {:deps {io.github.seancorfield/build-clj
                 {:git/tag "v0.3.1" :git/sha "996ddfa"}}
          :ns-default build}
  ;; Eve-specific aliases (native-build-atom, native-x-stress-atom)
  ;; are in the eve repo: https://github.com/SeniorCareMarket/eve
  }}
