{:passed        false
 :commit-msg    "Add X-RAY storage model invariant checker with video trace"
 :node-version  "v22.22.0"
 :optimizations "none"
 :benchmark     "contention-scaling-write-only"
 :commit        "bce9e7f"
 :error         "#error {:message \"Error in remote call\", :data {:results \"{:error \\\"#object[RangeError RangeError: Offset is outside the bounds of the DataView]\\\"}\"}}"
 :branch        "claude/sharedarraybuffer-structures-Uwgnw"
 :timestamp     "2026-02-14T03:50:31.956Z"}