{:passed        false
 :commit-msg    "Add comprehensive test suite for CPS continuation combinators"
 :node-version  "v22.22.0"
 :optimizations "none"
 :benchmark     "contention-scaling-write-only"
 :commit        "b867717"
 :error         "#error {:message \"Error in remote call\", :data {:results \"{:error \\\"#object[Error Error: EmbeddedSharedAtom -deref ID 15, HdrIdx: 1483 failed after 5 retries.]\\\"}\"}}"
 :branch        "claude/sharedarraybuffer-structures-Uwgnw"
 :timestamp     "2026-02-13T22:16:34.094Z"}