{:passed        true
 :commit-msg    "Add bench test files and intermediate bench results"
 :node-version  "v22.22.0"
 :optimizations "none"
 :benchmark     "nested-spawn-swaps"
 :label         "nested-spawn"
 :commit        "f307f96"
 :elapsed-ms    729.9064089999993
 :branch        "claude/sharedarraybuffer-structures-Uwgnw"
 :timestamp     "2026-02-14T02:11:27.592Z"
 :detail        {:counter 4, :expected 4}}