{:passed        true
 :commit-msg    "Add bench test files and intermediate bench results"
 :node-version  "v22.22.0"
 :optimizations "none"
 :ops           9
 :benchmark     "high-contention"
 :ms-per-op     6.983408999999988
 :label         "contention"
 :commit        "f307f96"
 :elapsed-ms    62.850680999999895
 :branch        "claude/sharedarraybuffer-structures-Uwgnw"
 :timestamp     "2026-02-14T02:11:27.592Z"
 :detail        {:counter 9, :expected 9}}