{:passed        false
 :commit-msg    "Add X-RAY documentation and README section"
 :node-version  "v22.22.0"
 :optimizations "none"
 :benchmark     "contention-scaling-mixed"
 :commit        "464c450"
 :error         "#error {:message \"Error in remote call\", :data {:results \"{:error \\\"#object[TypeError TypeError: Cannot read properties of undefined (reading 'getUint8')]\\\"}\"}}"
 :branch        "claude/sharedarraybuffer-structures-Uwgnw"
 :timestamp     "2026-02-14T05:00:05.582Z"}