{:passed        true
 :commit-msg    "Add X-RAY documentation and README section"
 :node-version  "v22.22.0"
 :optimizations "none"
 :ops           20
 :benchmark     "rapid-sequential-swaps"
 :ms-per-op     4.421434950000003
 :result        20
 :label         "sequential swaps"
 :commit        "464c450"
 :elapsed-ms    88.42869900000005
 :branch        "claude/sharedarraybuffer-structures-Uwgnw"
 :timestamp     "2026-02-14T04:11:52.525Z"}