{:passed        true
 :commit-msg    "Add bench test files and intermediate bench results"
 :node-version  "v22.22.0"
 :optimizations "none"
 :benchmark     "nested-worker-swap"
 :result        1
 :label         "nested in->in->swap"
 :commit        "f307f96"
 :elapsed-ms    25.495333999999275
 :branch        "claude/sharedarraybuffer-structures-Uwgnw"
 :timestamp     "2026-02-14T02:29:26.724Z"}