{:lint-as {cljs-thread.core/=>> clojure.core/->>}
 :hooks {:macroexpand {cljs-thread.core/in cljs-thread.core/in
                       cljs-thread.core/future cljs-thread.core/future
                       cljs-thread.core/wait cljs-thread.core/wait
                       cljs-thread.core/in? cljs-thread.core/in?}}}
