{:passed        true
 :commit-msg    "Add bench test files and intermediate bench results"
 :node-version  "v22.22.0"
 :optimizations "none"
 :ops           5
 :benchmark     "round-trip-latency"
 :ms-per-op     14.448418000000311
 :result        4
 :label         "5 sync round-trips"
 :commit        "f307f96"
 :elapsed-ms    72.24209000000155
 :branch        "claude/sharedarraybuffer-structures-Uwgnw"
 :timestamp     "2026-02-14T02:22:01.271Z"}