{:passed        true
 :commit-msg    "Add X-RAY documentation and README section"
 :node-version  "v22.22.0"
 :optimizations "none"
 :ops           5
 :benchmark     "round-trip-latency"
 :ms-per-op     4.850159800000256
 :result        4
 :label         "5 sync round-trips"
 :commit        "464c450"
 :elapsed-ms    24.25079900000128
 :branch        "claude/sharedarraybuffer-structures-Uwgnw"
 :timestamp     "2026-02-14T05:57:19.817Z"}